<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
<div class="container">
  <nav>
    <a href="/"><img src="../../../assets/TCC_logo.png" height="90"></a>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars" style="color: #e87e14"></i>
    </label>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">Giveaways</a></li>

      <div class="buttons">
        <button mat-button class="login-btn ">Login</button>
        <button mat-button class="signup-btn" style="display: none">Login</button>
      </div>
    </ul>
  </nav>
</div>




