.left-side {
  position: absolute;
  top: 50%;
  left: 6%;
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 4px #e87e14;
  font-family: 'Poppins', sans-serif;
}

.caption {
  position: absolute;
  top: 55%;
  left: 6%;
  color: white;
  font-size: 18px;
  font-family: 'Courier New', sans-serif;
}

.featured-icons i{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #e87e14;
  font-size: 20px;
  padding: 15px 10px;
  text-align: center;
  margin-bottom: 5px;
  color: #e87e14;
  text-decoration: none;
}

.featured-icons p{
  color: #e87e14;
  text-decoration: none;
}

.product-card {
  margin-top: 20px;
  -webkit-box-shadow: 0 0 5px 1px rgba(136, 136, 136, 0.34);
  -moz-box-shadow: 0 0 5px 1px rgba(136, 136, 136, 0.34);
  box-shadow: 0 0 5px 1px rgba(136, 136, 136, 0.34);
}

.product-card:hover {
  -webkit-box-shadow: 0 0 5px 1px #e87e14;
  -moz-box-shadow: 0 0 5px 1px #e87e14;
  box-shadow: 0 0 5px 1px #e87e14;
}

.product-card {
  font-family: Roboto, sans-serif;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  overflow: hidden; /* otherwise header image won't respect rounded corners */
  background: white;
  transition: all .5s ease;
}
.product-card:hover {
  transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;
}

