*{
  font-family: 'Poppins', sans-serif;;
}
.nav {
  border-bottom: 1px solid #e87e14;
}

.image-detail{
  border: 1px solid silver;
  margin: 20px 0 0 20%;
}

.product-name{
  font-size: 25px;
  color: rgba(0,0,0,0.66);
  margin-top: 20px
}

.product-price{
  font-size: 17px;
  color: rgba(0,0,0,0.66);
  color: #e87e14;
}

.math-button {
  background-color: rgba(194, 194, 194, 0.28);
}

.math-icon {
  color: #e87e14;
}
