<app-nav-bar class="nav"></app-nav-bar>
<div class="container mt-5">
  <mat-card>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-6">
        <lib-ngx-image-zoom
          [thumbImage]=myThumbnail
          [fullImage]=myFullresImage
          [magnification]="2"
          [enableScrollZoom]="true"
          [enableLens]="true"
          [lensWidth]="100"
        ></lib-ngx-image-zoom>
        <div class="row mt-4">
          <div class="col-md-12 col-sm-12 col-lg-4 align-items-center justify-content-center">
            <img class="image-detail" src="../../../assets/download.jpeg" width="50%" height="auto">
          </div><div class="col-md-12 col-sm-12 col-lg-4">
          <img class="image-detail" src="../../../assets/download.jpeg" width="50%" height="auto">
        </div><div class="col-md-12 col-sm-12 col-lg-4">
          <img class="image-detail" src="../../../assets/download.jpeg" width="50%" height="auto">
        </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-6">
        <p class="product-name">iPhone 13 Pro Max</p>
        <p class="product-price">Nu. 107,000</p>
        <p class="pt-2">Available: 10 pcs</p>
        <div class="description">
          <p class="pt-2">Description</p>
          <p style="color: #878787" class="text-justify">Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum. </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="input-group">
            <span class="input-group-btn">
              <button mat-button type="button" class="math-button" data-type="minus" data-field="" (click)="decrementValue()">
                <span class="math-icon fa fa-minus"></span>
              </button>
            </span>
            <div [formGroup]="myGroup">
              <input formControlName="quantity" type="number" id="quantity" name="quantity" value = "{{quantity.value}}" class="form-control input-number text-center" min="1"
                     max="100">
            </div>
            <span class="input-group-btn">
              <button mat-button type="button" class="math-button"
                      data-type="plus" data-field="" (click)="incrementValue()">
                <span class="math-icon fa fa-plus text-center"></span>
              </button>
            </span>
          </div>
          <button class="order-button mt-5" mat-button [disabled]="disableOrderButton"> Order </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
